In [2]:
import pandas as pd
# Creating a Pandas Series
series_data = pd.Series([10, 20, 30, 40])
print(series_data)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 22]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22

In [4]:
ages = df['Age']
print(ages)

0    25
1    30
2    22
Name: Age, dtype: int64

In [5]:
young_people = df[df['Age'] < 30]
print(young_people)

      Name  Age
0    Alice   25
2  Charlie   22

In [6]:
df.dropna() # Drop rows with missing values
value = 2
df.fillna(value) # Fill missing values with a specified value

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22

In [7]:
df['Age'] = df['Age'] + 1 # Incrementing ages by 1
print(df['Age'])

0    26
1    31
2    23
Name: Age, dtype: int64

In [8]:
average_age_by_name = df.groupby('Name')['Age'].mean()
print(average_age_by_name)

Name
Alice      26.0
Bob        31.0
Charlie    23.0
Name: Age, dtype: float64

In [9]:
# Reading data from a CSV file
df = pd.read_csv('employees.csv')

In [10]:
# Writing data to a CSV file
df.to_csv('new_filename.csv', index=False)